@page "/user/login"

<div class="row">
    <div class="col-12">
        <h3>Login</h3>
    </div>
</div>

<EditForm Model="LoginRequest" OnValidSubmit="HandleSubmit">
    <div class="row">
        <div class="col-12">
            <p>Don't have an account? <a href="/user/register">Register</a> now to get started.</p>
        </div>
    </div>

    @if (ShowError)
    {
        <ErrorList ErrorMessages="ErrorMessages" />
    }

    <div class="row">
        <div class="col-12">
            <label class="form-label">Email</label>
            <InputText type="text" class="form-control" @bind-Value="LoginRequest.Email" />

            <label class="form-label mt-1">Password</label>
            <InputText type="password" class="form-control" @bind-Value="LoginRequest.Password" />

            <div class="row mt-3">
                <div class="col-12 text-end">
                    <button type="reset" class="btn btn-secondary" @onclick='() => Navigation.NavigateTo("/")'>Cancel</button>

                    @if (DisableSubmit)
                    {
                        <button type="button" class="btn btn-success ms-1" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Logging in...
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-success ms-1">Login</button>
                    }
                </div>
            </div>
        </div>
    </div>
</EditForm>