@page "/user/register"

<div class="row">
    <div class="col-12">
        <h3>Register</h3>
    </div>
</div>

@if (ShowError)
{
    <ErrorList ErrorMessages="ErrorMessages" />
}

<EditForm Model="RegisterRequest" OnValidSubmit="HandleSubmit">
    <div class="row">
        <div class="col-12">
            <label class="form-label">Email</label>
            <InputText class="form-control" @bind-Value="RegisterRequest.Email" />

            <label class="form-label mt-1">Password</label>
            <InputText type="password" class="form-control" @bind-Value="RegisterRequest.Password" />

            <label class="form-label mt-1">Confirm Password</label>
            <InputText type="password" class="form-control" @bind-Value="RegisterRequest.ConfirmPassword" />

            <label class="form-label mt-1">First Name</label>
            <InputText class="form-control" @bind-Value="RegisterRequest.FirstName" />

            <label class="form-label mt-1">Last Name</label>
            <InputText class="form-control" @bind-Value="RegisterRequest.LastName" />

            <div class="row mt-3">
                <div class="col-12 text-end">
                    <button type="reset" class="btn btn-secondary" @onclick='() => Navigation.NavigateTo("/")'>Cancel</button>

                    @if (DisableSubmit)
                    {
                        <button type="button" class="btn btn-success ms-1" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Registering...
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-success ms-1">Register</button>
                    }
                </div>
            </div>
        </div>
    </div>
</EditForm>