@page "/contacts"

@if (SelectedContactsCount > 0)
{
    <MultipleContactDelete SelectedContactsCount="SelectedContactsCount"
        HandleCancelSelectedContacts="HandleCancelSelectedContacts"
        HandleDeleteSelectedContacts="HandleDeleteSelectedContacts" />
}

<div class="row">
    <div class="col-6">
        <h3>All Contacts</h3>
    </div>
    <div class="col-6 text-end">
        <a href="/contact/create">Add new contact</a>
    </div>
</div>

@if (Contacts is not null)
{
    <div class="row">
        @if (SelectableContacts.Any())
        {
            @for (int i = 0; i < SelectableContacts.Count; i++)
            {
                <div class="col-12 col-md-4">
                    <ContactCard Contact="SelectableContacts[i]" ContactIndex="i" HandleSelectChange="HandleSelectChange" />
                </div>
            }
        }
        else
        {
            <div class="col-12">
                <p>No contacts found. <a href="/contact/create">Create</a> one to get started.</p>
            </div>
        }
    </div>
}
else
{
    <LoadingSpinner />
}
