@page "/contacts"

<div class="row">
    <div class="col-12">
        <h3>All Contacts</h3>
    </div>
</div>

@if (Contacts is not null)
{
    <div class="row">
        @if (Contacts.Items.Any())
        {
            @foreach (var contact in Contacts.Items)
            {
                <div class="col-12">
                    <h5>@contact.FullName</h5>
                    @if (contact.DateOfBirth is not null)
                    {
                        <p class="mb-0">Birthday: @contact.DateOfBirth.Value.ToLongDateString()</p>
                    }
                    @if (contact.Frequency is not null && contact.StartDate is not null)
                    {
                        <p>Next (@contact.Frequency): @ContactDateHelper.GetNextScheduledDate(contact.Frequency, contact.StartDate.Value, DateTime.Today).ToLongDateString()</p>
                    }
                    <a href=@($"/contact/update/{contact.ContactId}")>Update</a>
                </div>
            }
        }
        else
        {
            <div class="col-12">
                <p>No contacts found. <a href="/contact/create">Create</a> one to get started.</p>
            </div>
        }
    </div>
}
else
{
    <LoadingSpinner />
}
