@page "/contacts"

<div class="row">
    <div class="col-6">
        <h3>All Contacts</h3>
    </div>
    <div class="col-6 text-end">
        <a href="/contact/create">Add new contact</a>
    </div>
</div>

@if (Contacts is not null)
{
    <div class="row">
        @if (Contacts.Items.Any())
        {
            @foreach (var contact in Contacts.Items.OrderBy(x => x.LastName).ThenBy(x => x.FirstName))
            {
                <div class="col-12 col-md-4">
                    <ContactCard Contact="contact" />
                </div>
            }
        }
        else
        {
            <div class="col-12">
                <p>No contacts found. <a href="/contact/create">Create</a> one to get started.</p>
            </div>
        }
    </div>
}
else
{
    <LoadingSpinner />
}
