@page "/budget/{BudgetId:int}"

<Condition Evaluation="User is not null">
    <Match>
        <Condition Evaluation="Budget is not null">
            <Match>
                <div class="row">
                    <div class="col-12">
                        <h3>@Budget.Name</h3>
                    </div>
                </div>

                <MonthYearPicker SelectedMonthYear="SelectedMonthYear" MonthYearCallback="IncrementSelectedMonthYear" />

                <Condition Evaluation="Budget.Accounts is not null && Budget.Accounts.Any()">
                    <Match>
                        <div class="row">
                            <div class="col-12 text-center">
                                <button class="btn btn-success mb-2" @onclick='() => Navigation.NavigateTo($"/transaction/new/{BudgetId}")'>New Transaction</button>
                            </div>
                        </div>
                    </Match>
                </Condition>

                <Condition Evaluation="Budget.Accounts is not null && Budget.Accounts.Any()">
                    <Match>
                        <Condition Evaluation="Budget.Accounts.Any(a => a.AccountType == AccountType.Category)">
                            <Match>
                                <CategoriesList Accounts="Budget.Accounts" Transactions="Budget.AccountTransactions"
                                                MonthYear="SelectedMonthYear" UserId="User.UserId" />
                            </Match>
                        </Condition>
                        <AccountsList Accounts="Budget.Accounts" Transactions="Budget.AccountTransactions" />
                    </Match>

                    <NotMatch>
                        <div class="row">
                            <div class="col-12 text-center">
                                <p>You haven't added any accounts.</p>
                                <a href="/account/new/@BudgetId">Add account</a>
                            </div>
                        </div>
                    </NotMatch>
                </Condition>
            </Match>
        </Condition>
    </Match>

    <NotMatch>
        <div class="row">
            <div class="col-12 text-center">
                <LoadingSpinner MarginTop="50" />
            </div>
        </div>
    </NotMatch>
</Condition>