@page "/budget/{BudgetId:int}"

<Condition Evaluation="User is not null">
    <Match>
        <Condition Evaluation="Budget is not null">
            <Match>
                <div class="row">
                    <div class="col-12">
                        <h3>@Budget.Name</h3>
                    </div>
                </div>

                <Condition Evaluation="Budget.Accounts is not null && Budget.Accounts.Any()">
                    <Match>
                        <div class="row">
                            <div class="col-12 text-center">
                                <a href="/transaction/new/@BudgetId">New Transaction</a>
                            </div>
                        </div>
                    </Match>
                </Condition>

                <div class="row">
                    <div class="col-12">
                        <h5>Accounts <small><a href="/account/new/@BudgetId">Add account</a></small></h5>
                    </div>

                    <Condition Evaluation="Budget.Accounts is not null && Budget.Accounts.Any()">
                        <Match>
                            <div class="col-12">
                                <AccountsList Accounts="Budget.Accounts" TransactionEntries="Budget.AccountTransactions.SelectMany(a => a.TransactionEntries)" />
                            </div>
                        </Match>

                        <NotMatch>
                            <div class="col-12">
                                <p>You haven't added any accounts.</p>
                            </div>
                        </NotMatch>
                    </Condition>
                </div>
            </Match>
        </Condition>
    </Match>
</Condition>