<div class="row">
    <div class="col-12">
        <h3>Welcome</h3>
    </div>
</div>

<Condition Evaluation="Budgets is not null">
    <Match>
        <div class="row">
            <div class="col-12">
                <h5>You have budgets.</h5>
            </div>
        </div>
    </Match>

    <NotMatch>
        <div class="row">
            <div class="col-12">
                <h5>You have not created a budget yet. Get started now.</h5>
            </div>
            <div class="col-12">
                <a href="/budget/new">Create new budget</a>
            </div>
        </div>
    </NotMatch>
</Condition>
