<div class="row">
    <div class="col-2 text-center">
        <span class="oi oi-arrow-circle-left" @onclick="() => MonthYearCallback.InvokeAsync(-1)"></span>
    </div>
    <div class="col-8 text-center">
        <h4>@SelectedMonthYear.ToLocalTime().ToString("MMMM")</h4>
        <h6><small class="text-muted">@SelectedMonthYear.ToLocalTime().ToString("yyyy")</small></h6>
    </div>
    <div class="col-2 text-center">
        <span class="oi oi-arrow-circle-right" @onclick="() => MonthYearCallback.InvokeAsync(1)"></span>
    </div>
</div>