<div class="row">
    <div class="col-3 text-end pt-3">
        <span class="oi oi-arrow-circle-left" @onclick="() => MonthYearCallback.InvokeAsync(-1)"></span>
    </div>
    <div class="col-6 text-center">
        <h4>@SelectedMonthYear.ToLocalTime().ToString("MMMM")</h4>
        <h6><small class="text-muted">@SelectedMonthYear.ToLocalTime().ToString("yyyy")</small></h6>
    </div>
    <div class="col-3 text-start pt-3">
        <span class="oi oi-arrow-circle-right" @onclick="() => MonthYearCallback.InvokeAsync(1)"></span>
    </div>
</div>