<div class="card shadow">
    <div class="card-body">
        <h5 class="card-title">
            @Account.Name
        </h5>
        <h6 class="text-end">
            @Account.GetAccountBalance().ToString("C");
        </h6>
    </div>
</div>
