
<div class="row">
    <div class="col-12">
        <h5>Categories</h5>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th class="text-end">Available</th>
                </tr>
            </thead>
            <tbody>
                <Iterations Items="Accounts.Where(a => a.AccountType == AccountType.Category).OrderBy(a => a.Name)">
                    <CategoriesListItem Account="context" StartDate="StartDate" EndDate="EndDate"
                        Transactions="Transactions" UserId="UserId"
                        MonthlyCategoryBudgetSubmitCallback="MonthlyCategoryBudgetSubmit" />
                </Iterations>
                <tr>
                    <td><strong>Net</strong></td>
                    <td class="text-end">
                        <strong>@GetNetSpent().ToString("C")</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>