<AuthorizeView>
    <Authorized>
        @if (IsAuthenticated)
        {
            <li class="nav-item active">
                <a class="nav-link" href="#" @onclick="BeginSignOut">Log Out</a>
            </li>
        }
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <a class="nav-link" href="/user/login">Log In</a>
        </li>
    </NotAuthorized>
</AuthorizeView>