
<div class="row">
    <div class="col-12">
        <ul class="error-list">
            @foreach (var message in ErrorMessages)
            {
                <li class="validation-message">@message</li>
            }
        </ul>
    </div>
</div>